nav a{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}


.header{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    /* flex-grow: 2; */
}

nav {
    flex-grow: 1;
    text-align: center;
}